.formContainer {
  
  list-style:  none;
    background-color: #000;
    background-image: url('../../img/LP_pic.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    height: 100vh;
    position:fixed;
    width: 100vw;
    font-family: 'Bebas Neue';
    font-size: 1.6rem;
    color: white;
    overflow: scroll;
    overflow-x: hidden;
  }
  .formContainer input {
    border-radius: 5px;
    box-sizing: border-box;
  }

  .formContainer::-webkit-scrollbar {     
    width: 7px;
      z-index: 3;
      transition: 0.8s;
  }
  
  .formContainer::-webkit-scrollbar-thumb {
    background: #e7c793;
    border-radius: 5px;
      z-index: 3;
  }
  .formContainer::-webkit-scrollbar-thumb:hover {
    background: #ff9d00;
    border-radius: 5px;
      z-index: 3;
      
  }
  .form {
    background-color: transparent; 
    border-radius: 20px;
    border: solid 0.5rem var(--blue-yonder);
    box-sizing: border-box;
    
    width: 60vw;
    padding: 20px;
    position:absolute;
    top: 10vh;  
  }
  
  .items{
    display: flex;
    flex-direction: column;
  }

  .item{
    display: flex;
    align-items: center;
    
    
  }
  
  .item-double{
    display: flex;
    align-items: center;
    }
  .item-double div{
    margin-right: 2rem;
  }

  .title {
    position: relative;
    top:0vh;;
    color: #eee;
    font-family: 'Bebas Neue';
    font-size: 36px;
    font-weight: 600;
    margin-top: 30px;
  }
  
  
  
  .input-container {  
    position: relative;
    width: 100%;
    background-color: var(--blue-yonder);
    border-radius: 12px;   
    color: #eee;
    font-size: 1.2rem;
    
    width: 100%;
    margin-left: 1rem
    
  }
  
  
  
  .input-container::placeholder{
    color: white;
  } 
  
  .input:focus ~ .placeholder,
  .input:not(:placeholder-shown) ~ .placeholder {
    transform: translateY(-30px) translateX(10px) scale(0.75);
  }
  
  .submit {
    background-color:var(--bdazzled-blue);
    border-radius: 1rem;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 1.5rem;
    position: relative;
    width: 60%;
    height: 5vh;
    margin-top: 1rem;
    outline: 0;
    text-align: center;
    left: 20%;
    
  }
  
  /* .submit:active {
    background-color: #06b;
    position: relative;
    top:1px;
  } */
  .genres{
    display: flex;
    flex-direction: column;
  }
  .platforms{
    display: flex;
    flex-direction: column;
    
  }
  .checkli {
      background:var(--blue-yonder);
      display: flex;
      flex-wrap: wrap ;
      margin: 1rem     ;
      font-size: 0.9rem;
      font-family: 'Roboto';
      color:black;
      padding: 1vh;
      border-radius: 20px;
      box-sizing: border-box;
    }
    

  .danger{
    color: red;
    background-color:var(--tumbleweed);
    width: 40%;
    font-size: 1rem;
  }

  .newProp{
    display: flex;
  }

  .add{
    box-shadow:inset 0px 1px 0px 0px #fce2c1;
    background:linear-gradient(to bottom, #ffc477 5%, var(--orange-red) 100%);
    background-color:#ffc477;
    border-radius:6px;
    border:1px solid #eeb44f;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:'Roboto';
    font-size:1rem;
    font-weight:bold;
    padding:2px 0px;
    text-decoration:none;
    text-shadow:0px 1px 0px #cc9f52;
    width: 20rem;
    margin-left: 1rem
  }

  .add:hover {
    background:linear-gradient(to bottom, #fb9e25 5%, #ffc477 100%);
    background-color:#fb9e25;
  }
  .add:active {
    position:relative;
    top:1px;
  }