  #bac {  
    background-color: transparent;
    
    height:100%;
    top:20%
  }
  
  .page-numbers {
      width: 50%;
      position:fixed;
      top:20%;
      left: 22%;
      list-style: none;
      display: flex;
      justify-content: space-between;
      z-index: 3;
    }
  
  .page-numbers > li {    
          margin-right: 0.3em;
          color: white;
          user-select: none;
          cursor: pointer;
          z-index: 3;
        
  }
  
  .page-numbers > li:active{
    color: red;
  }
  
  .activePage {
    color: blue
  }
  
  .cards { 
    display: flex;  
    
    flex-wrap: wrap;
    flex-direction: row;  
    
  }
  .image {
    border: solid 5px black;
    position: relative;
    
    width: 100%;
  }
  .card{
    position: relative;
    width: 20%;
    height: 50%;
  }
  
  .container{
    position: absolute;
    width: 80%;
    height: 80%;
    left:10%;
    top:20%;
    z-index: 2;
    border: solid black 1px;
    
  }
  
  
  
  
  /* #bac:before {
    content: ' ';
    display: block;
    position: fixed;
    
    bottom: 0%;
    width: 100%;
    height: 100%;
    z-index: 1;
    
    background-image: url('../../img/LP_pic.jpg');
    background-repeat: no-repeat;
    
    background-size:cover;
    
  } */