@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Press+Start+2P&family=Roboto:wght@700&display=swap');

.card{
    position: relative;    
    width: 18rem;
    height: 22rem;    
    border-radius: 1.2rem;
    background:var(--silver);    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow:hidden;
    font-size: 1.2rem;    
    margin: 1rem;
}
.image{
    
    position: absolute;
    z-index: 0;    
    border: none;
    height:  22rem;
    width: 18rem;
    display: flex;
    justify-content: center;
    object-fit: cover;
    
}
.card-title:link{
    
    position: relative;
    
    font-size: 1.5rem;
    color: white;
    font-family: 'Bebas Neue', cursive;
    text-decoration: none;
    display: inline;
    justify-content: center;
    z-index: 1;
}
.card p{
    z-index: 1;
    color:white;
    
}
.card:hover p{
    color:black
}
.card:active{
    position: relative;
    top:3px
}
.card-title:visited{
    text-decoration: none;
    /* font-family: 'Bebas Neue', cursive; */
    color: var(--orange-red)
}

.rating{
    position:relative;
    z-index: 2;
    height: 3.8rem;
    width: 3.8rem;
    color: white;
    display: flex;
    align-self: flex-end;
    background-image: url('../../img/star.png');
    background-size: contain;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    color: black;
    vertical-align: middle;
}




@media (max-width: 992px) {
    .card{
        width: 14rem;
        height: 20rem;    
    }
    .image{
        width: 14rem;
        height: 20rem;    
        
    }
}

@media (max-width: 760px) {
    .card{
        width: 12rem;
        height: 18rem;    
    }
    .image{
        width: 12rem;
        height: 18rem;    
    }
  }

