.navbar {
    position: fixed;
    height: 10vh;
    width: 100%;
    top: 0;
    left: 0;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;    
    box-sizing: border-box;
    z-index: 2;
}

.list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: row;
    align-items: center;
    height: 90%;
    z-index: 2;
}
.list-item {
    margin: 0;
    display: flex;
    height:50%;
    width: auto;
    align-items: center;
    z-index: 2;
}

.list-item a {
    color: rgb(90, 81, 81);
    height: 100%;
    padding: 16px 10px;
    
    z-index: 2;
}

.list-item :hover,
.list-item .active {
    background-color: #808080;    
    z-index: 2;
}